[project]
	description = EMF project repository (emf)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Daniel Zarapico (dzaisban)
[access "refs/for/refs/*"]
	read = group user/Daniel Zarapico (dzaisban)
	push = group user/Daniel Zarapico (dzaisban)
	label-Code-Review = -2..+2 group user/Daniel Zarapico (dzaisban)
	label-Verified = -1..+1 group user/Daniel Zarapico (dzaisban)
	rebase = group user/Daniel Zarapico (dzaisban)
	removeReviewer = group user/Daniel Zarapico (dzaisban)
	submit = group user/Daniel Zarapico (dzaisban)
[access "refs/heads/*"]
	read = group user/Daniel Zarapico (dzaisban)
	create = group user/Daniel Zarapico (dzaisban)
	push = +force group user/Daniel Zarapico (dzaisban)
	pushMerge = group user/Daniel Zarapico (dzaisban)
[access "refs/tags/*"]
	push = +force group user/Daniel Zarapico (dzaisban)
	pushTag = group user/Daniel Zarapico (dzaisban)
	pushSignedTag = group user/Daniel Zarapico (dzaisban)
